<?xml version="1.0"?>
<model>
  <name>shuttle</name>
  <version>1.0</version>
  <sdf version='1.9'>model.sdf</sdf>

  <author>
   <name>Luís Abrantes</name>
   <email>luis.g.abrantes@tecnico.ulisboa.pt</email>
  </author>

  <description>
    This is the capture shuttle quadrotor for Project CAPTURE
  </description>
</model>
