<?xml version="1.0"?>
<sdf version='1.5'>
  <model name='easyglider'>
    <pose>0 0 0 0 0 0</pose>
    <link name='base_link'>
      <pose>0.07 0 -0.01 0 0 0</pose>
      <inertial>
        <!-- -0.135 -->
        <pose>-0.3 0 -0.05 0 0 0</pose>
        <mass>1.5</mass>
        <inertia>
          <ixx>0.197563</ixx>
          <ixy>0</ixy>
          <ixz>0</ixz>
          <iyy>0.1458929</iyy>
          <iyz>0</iyz>
          <izz>0.1477</izz>
        </inertia>
      </inertial>
      <collision name='base_link_collision'>
        <pose>0 0 -0.07 0 0 0</pose>
        <geometry>
          <mesh>
            <uri>model://easyglider/meshes/body.dae</uri>
            <scale>0.001 0.001 0.001</scale>
          </mesh>
        </geometry>
        <surface>
          <contact>
            <ode>
              <max_vel>10</max_vel>
              <min_depth>0.01</min_depth>
            </ode>
          </contact>
          <!--<friction>
            <ode/>
          </friction>-->
        </surface>
      </collision>
      <collision name='nose_collision'>
        <pose>0 0 -0.07 0 0 0</pose>
        <geometry>
          <mesh>
            <uri>model://easyglider/meshes/nose_cone.dae</uri>
            <scale>0.001 0.001 0.001</scale>
          </mesh>
        </geometry>
        <surface>
          <contact>
            <ode>
              <max_vel>1.0</max_vel>
              <min_depth>0.001</min_depth>
            </ode>
          </contact>
        </surface>
      </collision>
      <visual name='nose_visual'>
        <pose>0 0 -0.07 0 0 0</pose>
        <geometry>
          <mesh>
            <uri>model://easyglider/meshes/nose_cone.dae</uri>
            <scale>0.001 0.001 0.001</scale>
          </mesh>
        </geometry>
        <material>
          <script>
            <name>Gazebo/Black</name>
            <uri>__default__</uri>
          </script>
        </material>
      </visual>
      <collision name='lid_collision'>
        <pose>-0.16 0 -0.058 0 0 -1.57079633</pose>
        <geometry>
          <mesh>
            <uri>model://easyglider/meshes/lid.dae</uri>
            <scale>0.001 0.001 0.001</scale>
          </mesh>
        </geometry>
        <surface>
          <contact>
            <ode>
              <max_vel>1.0</max_vel>
              <min_depth>0.001</min_depth>
            </ode>
          </contact>
        </surface>
      </collision>
      <visual name='lid_visual'>
        <pose>-0.16 0 -0.058 0 0 -1.57079633</pose>
        <geometry>
          <mesh>
            <uri>model://easyglider/meshes/lid.dae</uri>
            <scale>0.001 0.001 0.001</scale>
          </mesh>
        </geometry>
        <material>
          <script>
            <name>Gazebo/DarkGray</name>
            <uri>__default__</uri>
          </script>
        </material>
      </visual>
      <collision name='right_wing_collision'>
        <pose>0 0 -0.07 0 0 0</pose>
        <geometry>
          <mesh>
            <uri>model://easyglider/meshes/right_wing.dae</uri>
            <scale>0.001 0.001 0.001</scale>
          </mesh>
        </geometry>
        <surface>
          <contact>
            <ode>
              <max_vel>1.0</max_vel>
              <min_depth>0.001</min_depth>
            </ode>
          </contact>
        </surface>
      </collision>
      <visual name='right_wing_visual'>
        <pose>0 0 -0.07 0 0 0</pose>
        <geometry>
          <mesh>
            <uri>model://easyglider/meshes/right_wing.dae</uri>
            <scale>0.001 0.001 0.001</scale>
          </mesh>
        </geometry>
        <material>
          <script>
            <name>Gazebo/White</name>
            <uri>__default__</uri>
          </script>
        </material>
      </visual>
      <collision name='left_wing_collision'>
        <pose>0 0 -0.07 0 0 0</pose>
        <geometry>
          <mesh>
            <uri>model://easyglider/meshes/left_wing.dae</uri>
            <scale>0.001 0.001 0.001</scale>
          </mesh>
        </geometry>
        <surface>
          <contact>
            <ode>
              <max_vel>1.0</max_vel>
              <min_depth>0.001</min_depth>
            </ode>
          </contact>
        </surface>
      </collision>
      <visual name='left_wing_visual'>
        <pose>0 0 -0.07 0 0 0</pose>
        <geometry>
          <mesh>
            <uri>model://easyglider/meshes/left_wing.dae</uri>
            <scale>0.001 0.001 0.001</scale>
          </mesh>
        </geometry>
        <material>
          <script>
            <name>Gazebo/White</name>
            <uri>__default__</uri>
          </script>
        </material>
      </visual>
      <visual name='base_link_visual'>
        <pose>0 0 -0.07 0 0 0</pose>
        <geometry>
          <mesh>
            <scale>0.001 0.001 0.001</scale>
            <uri>model://easyglider/meshes/body.dae</uri>
          </mesh>
        </geometry>
        <material>
          <script>
            <name>Gazebo/White</name>
            <uri>__default__</uri>
          </script>
        </material>
        <plugin name="left_elevon_lift_visual" filename="libForceVisual.so">
          <topic_name>lift_force/lumped_force</topic_name>
          <color>Gazebo/Green</color>
        </plugin>
      </visual>
      <gravity>1</gravity>
      <velocity_decay/>
      <self_collide>0</self_collide>
    </link>
    <link name='easyglider/imu_link'>
      <pose>0 0 0 0 0 0</pose>
      <inertial>
        <pose>0 0 0 0 0 0</pose>
        <mass>0.015</mass>
        <inertia>
          <ixx>1e-05</ixx>
          <ixy>0</ixy>
          <ixz>0</ixz>
          <iyy>1e-05</iyy>
          <iyz>0</iyz>
          <izz>1e-05</izz>
        </inertia>
      </inertial>
    </link>
    <joint name='easyglider/imu_joint' type='revolute'>
      <child>easyglider/imu_link</child>
      <parent>base_link</parent>
      <axis>
        <xyz>1 0 0</xyz>
        <limit>
          <lower>0</lower>
          <upper>0</upper>
          <effort>0</effort>
          <velocity>0</velocity>
        </limit>
        <dynamics>
          <spring_reference>0</spring_reference>
          <spring_stiffness>0</spring_stiffness>
        </dynamics>
        <use_parent_model_frame>1</use_parent_model_frame>
      </axis>
    </joint>
    <include>
      <uri>model://airspeed</uri>
      <pose>-0.12 0 -0.07 0 0 0</pose>
      <name>airspeed</name>
    </include>
    <joint name='airspeed_joint' type='fixed'>
      <child>airspeed::link</child>
      <parent>base_link</parent>
    </joint>
    <link name='rotor_puller'>
      <pose>0.115 0 -0.085 0 1.57 0</pose>
      <inertial>
        <pose>0 0 0 0 0 0</pose>
        <mass>0.005</mass>
        <inertia>
          <ixx>9.75e-07</ixx>
          <ixy>0</ixy>
          <ixz>0</ixz>
          <iyy>0.000166704</iyy>
          <iyz>0</iyz>
          <izz>0.000167604</izz>
        </inertia>
      </inertial>
      <visual name='rotor_puller_visual'>
        <pose>0 0 0 0 0 0</pose>
        <geometry>
          <mesh>
            <scale>1 1 1</scale>
            <uri>model://easyglider/meshes/iris_prop_ccw.dae</uri>
          </mesh>
        </geometry>
        <material>
          <script>
            <name>Gazebo/Black</name>
            <uri>__default__</uri>
          </script>
        </material>
      </visual>
      <gravity>1</gravity>
      <velocity_decay/>
      <self_collide>0</self_collide>
    </link>
    <joint name='rotor_puller_joint' type='revolute'>
      <child>rotor_puller</child>
      <parent>base_link</parent>
      <axis>
        <xyz>1 0 0</xyz>
        <limit>
          <lower>-1e+16</lower>
          <upper>1e+16</upper>
        </limit>
        <dynamics>
          <spring_reference>0</spring_reference>
          <spring_stiffness>0</spring_stiffness>
        </dynamics>
        <use_parent_model_frame>1</use_parent_model_frame>
      </axis>
    </joint>
    <link name="left_elevon">
      <inertial>
        <mass>0.00000001</mass>
        <inertia>
          <ixx>0.000001</ixx>
          <ixy>0.0</ixy>
          <iyy>0.000001</iyy>
          <ixz>0.0</ixz>
          <iyz>0.0</iyz>
          <izz>0.000001</izz>
        </inertia>
        <pose>0 0.3 0 0.00 0 0.0</pose>
      </inertial>
      <visual name='left_elevon_visual'>
        <pose>0.07 0.0 -0.08 0.00 0 0.0</pose>
        <geometry>
          <mesh>
            <scale>0.001 0.001 0.001</scale>
            <uri>model://easyglider/meshes/left_elevon.dae</uri>
          </mesh>
        </geometry>
        <material>
          <script>
            <name>Gazebo/LightGray</name>
            <uri>__default__</uri>
          </script>
        </material>
      </visual>
    </link>
    <link name="right_elevon">
      <inertial>
        <mass>0.00000001</mass>
        <inertia>
          <ixx>0.000001</ixx>
          <ixy>0.0</ixy>
          <iyy>0.000001</iyy>
          <ixz>0.0</ixz>
          <iyz>0.0</iyz>
          <izz>0.000001</izz>
        </inertia>
        <pose>0 -0.3 0 0.00 0 0.0</pose>
      </inertial>
      <visual name='right_elevon_visual'>
        <pose>0.07 0.0 -0.08 0.00 0 0.0</pose>
        <geometry>
          <mesh>
            <scale>0.001 0.001 0.001</scale>
            <uri>model://easyglider/meshes/right_elevon.dae</uri>
          </mesh>
        </geometry>
        <material>
          <script>
            <name>Gazebo/Write</name>
            <uri>__default__</uri>
          </script>
        </material>
      </visual>
    </link>
    <link name="elevator">
      <inertial>
        <mass>0.00000001</mass>
        <inertia>
          <ixx>0.000001</ixx>
          <ixy>0.0</ixy>
          <iyy>0.000001</iyy>
          <ixz>0.0</ixz>
          <iyz>0.0</iyz>
          <izz>0.000001</izz>
        </inertia>
        <pose> -0.5 0 0 0.00 0 0.0</pose>
      </inertial>
      <visual name='elevator_visual'>
        <pose>0.07 0.0 -0.08 0.00 0 0.0</pose>
        <geometry>
          <mesh>
            <scale>0.001 0.001 0.001</scale>
            <uri>model://easyglider/meshes/elevators.dae</uri>
          </mesh>
        </geometry>
        <material>
          <script>
            <name>Gazebo/LightGray</name>
            <uri>__default__</uri>
          </script>
        </material>
      </visual>
    </link>
    <link name="rudder">
      <inertial>
        <mass>0.00000001</mass>
        <inertia>
          <ixx>0.000001</ixx>
          <ixy>0.0</ixy>
          <iyy>0.000001</iyy>
          <ixz>0.0</ixz>
          <iyz>0.0</iyz>
          <izz>0.000001</izz>
        </inertia>
        <pose>-0.5 0 0.05 0 0 0 </pose>
      </inertial>
      <visual name='rudder_visual'>
        <pose>0.07 0.0 -0.08 0.00 0 0.0</pose>
        <geometry>
          <mesh>
            <scale>0.001 0.001 0.001</scale>
            <uri>model://easyglider/meshes/rudder.dae</uri>
          </mesh>
        </geometry>
        <material>
          <script>
            <name>Gazebo/LightGray</name>
            <uri>__default__</uri>
          </script>
        </material>
      </visual>
    </link>
    <joint name='left_elevon_joint' type='revolute'>
      <parent>base_link</parent>
      <child>left_elevon</child>
      <pose>-0.32 -0.5 -0.045 0 0 0</pose>
      <axis>
        <xyz>0 1 0</xyz>
        <limit>
          <!-- -30/+30 deg. -->
          <lower>-0.53</lower>
          <upper>0.53</upper>
        </limit>
        <dynamics>
          <damping>1.000</damping>
        </dynamics>
      </axis>
      <physics>
        <ode>
          <implicit_spring_damper>1</implicit_spring_damper>
        </ode>
      </physics>
    </joint>
    <joint name='right_elevon_joint' type='revolute'>
      <parent>base_link</parent>
      <child>right_elevon</child>
      <pose>-0.32 0.5 -0.045 0 0 0</pose>
      <axis>
        <xyz>0 -1 0</xyz>
        <limit>
          <!-- -30/+30 deg. -->
          <lower>-0.53</lower>
          <upper>0.53</upper>
        </limit>
        <dynamics>
          <damping>1.000</damping>
        </dynamics>
      </axis>
      <physics>
        <ode>
          <implicit_spring_damper>1</implicit_spring_damper>
        </ode>
      </physics>
    </joint>
    <joint name='elevator_joint' type='revolute'>
      <parent>base_link</parent>
      <child>elevator</child>
      <pose>-0.88 0 -0.035 0 0 0</pose>
      <axis>
        <xyz>0 1 0</xyz>
        <limit>
          <!-- -30/+30 deg. -->
          <lower>-0.53</lower>
          <upper>0.53</upper>
        </limit>
        <dynamics>
          <damping>1.000</damping>
        </dynamics>
      </axis>
      <physics>
        <ode>
          <implicit_spring_damper>1</implicit_spring_damper>
        </ode>
      </physics>
    </joint>
    <joint name='rudder_joint' type='revolute'>
      <parent>base_link</parent>
      <child>rudder</child>
      <pose>-0.88 0 -0.035 0 0 0</pose>
      <axis>
        <xyz>0 0 1</xyz>
        <limit>
          <!-- -30/+30 deg. -->
          <lower>-0.53</lower>
          <upper>0.53</upper>
        </limit>
        <dynamics>
          <damping>1.000</damping>
        </dynamics>
      </axis>
      <physics>
        <ode>
          <implicit_spring_damper>1</implicit_spring_damper>
        </ode>
      </physics>
    </joint>
    <include>
      <uri>model://gps</uri>
      <pose>-0.12 0 -0.07 0 0 0</pose>
      <name>gps</name>
    </include>
    <joint name='gps_joint' type='fixed'>
      <child>gps::link</child>
      <parent>base_link</parent>
    </joint>
    <plugin name="aircraft" filename="libAdvancedLiftDragPlugin.so">
      <a0>0.00000</a0>
      <CL0>0.36986</CL0>
      <AR>7.788461538461539</AR>
      <eff>0.8523</eff>
      <CLa>3.679875</CLa>
      <CD0>0.00759</CD0>
      <Cem0>-0.57912</Cem0>
      <Cema>-6.591829</Cema>
      <CYb>-0.187754</CYb>
      <Cellb>-0.062425</Cellb>
      <Cenb>0.108424</Cenb>
      <CDp>0.001662</CDp>
      <CYp>0.032506</CYp>
      <CLp>0.004311</CLp>
      <Cellp>-0.392788</Cellp>
      <Cemp>0.012745</Cemp>
      <Cenp>-0.033202</Cenp>
      <CDq>0.549541</CDq>
      <CYq>0.028560</CYq>
      <CLq>-16.413084</CLq>
      <Cellq>0.016506</Cellq>
      <Cemq>-35.807747</Cemq>
      <Cenq>-0.016106</Cenq>
      <CDr>-0.003477</CDr>
      <CYr>0.222424</CYr>
      <CLr>-0.002658</CLr>
      <Cellr>0.137367</Cellr>
      <Cemr>-0.004534</Cemr>
      <Cenr>-0.129973</Cenr>
      <alpha_stall>0.3391428111</alpha_stall>
      <CLa_stall>-3.85</CLa_stall>
      <CDa_stall>-0.9233984055</CDa_stall>
      <Cema_stall>0</Cema_stall>
      <cp>0 0 0</cp>
      <area>0.416</area>
      <mac>0.15407407407407406</mac>
      <air_density>1.2041</air_density>
      <forward>1 0 0</forward>
      <upward>0 0 1</upward>
      <link_name>base_link</link_name>
      <topic_name>lift_force/lumped_force</topic_name> <!--Uncomment to draw the force-->
      <num_ctrl_surfaces>4</num_ctrl_surfaces>
      <control_surface>
        <name>left_elevon_joint</name>
        <index>0</index>
        <direction>1</direction>
        <CD_ctrl>-0.000001</CD_ctrl>
        <CY_ctrl>0.000107</CY_ctrl>
        <CL_ctrl>0.000065</CL_ctrl>
        <Cell_ctrl>-0.001596</Cell_ctrl>
        <Cem_ctrl>0.000091</Cem_ctrl>
        <Cen_ctrl>0.000031</Cen_ctrl>
      </control_surface>
      <control_surface>
        <name>right_elevon_joint</name>
        <index>1</index>
        <direction>1</direction>
        <CD_ctrl>-0.000001</CD_ctrl>
        <CY_ctrl>-0.000107</CY_ctrl>
        <CL_ctrl>0.000065</CL_ctrl>
        <Cell_ctrl>0.001596</Cell_ctrl>
        <Cem_ctrl>0.000091</Cem_ctrl>
        <Cen_ctrl>0.000031</Cen_ctrl>
      </control_surface>
      <control_surface>
        <name>elevator_joint</name>
        <index>2</index>
        <direction>-1</direction>
        <CD_ctrl>-0.000044</CD_ctrl>
        <CY_ctrl>-0.000008</CY_ctrl>
        <CL_ctrl>-0.001961</CL_ctrl>
        <Cell_ctrl>-0.000000</Cell_ctrl>
        <Cem_ctrl>-0.008387</Cem_ctrl>
        <Cen_ctrl>0.000005</Cen_ctrl>
      </control_surface>
      <control_surface>
        <name>rudder_joint</name>
        <index>3</index>
        <direction>1</direction>
        <CD_ctrl>-0.000015</CD_ctrl>
        <CY_ctrl>-0.001237</CY_ctrl>
        <CL_ctrl>0.000003</CL_ctrl>
        <Cell_ctrl>-0.000142</Cell_ctrl>
        <Cem_ctrl>0.000026</Cem_ctrl>
        <Cen_ctrl>0.000711</Cen_ctrl>
      </control_surface>
      <robotNamespace></robotNamespace>
      <windSubTopic>world_wind</windSubTopic>
    </plugin>
    <plugin name='puller' filename='libgazebo_motor_model.so'>
      <robotNamespace></robotNamespace>
      <jointName>rotor_puller_joint</jointName>
      <linkName>rotor_puller</linkName>
      <turningDirection>cw</turningDirection>
      <timeConstantUp>0.0125</timeConstantUp>
      <timeConstantDown>0.025</timeConstantDown>
      <maxRotVelocity>3500</maxRotVelocity>
      <motorConstant>8.54858e-06</motorConstant>
      <momentConstant>0.01</momentConstant>
      <commandSubTopic>/gazebo/command/motor_speed</commandSubTopic>
      <motorNumber>4</motorNumber>
      <rotorDragCoefficient>8.06428e-05</rotorDragCoefficient>
      <rollingMomentCoefficient>1e-06</rollingMomentCoefficient>
      <motorSpeedPubTopic>/motor_speed/4</motorSpeedPubTopic>
      <rotorVelocitySlowdownSim>10</rotorVelocitySlowdownSim>
      <robotNamespace></robotNamespace>
      <windSubTopic>world_wind</windSubTopic>
    </plugin>
    <plugin name='groundtruth_plugin' filename='libgazebo_groundtruth_plugin.so'>
      <robotNamespace/>
    </plugin>
    <plugin name='magnetometer_plugin' filename='libgazebo_magnetometer_plugin.so'>
      <robotNamespace/>
      <pubRate>100</pubRate>
      <noiseDensity>0.0004</noiseDensity>
      <randomWalk>6.4e-06</randomWalk>
      <biasCorrelationTime>600</biasCorrelationTime>
      <magTopic>/mag</magTopic>
    </plugin>
    <plugin name='barometer_plugin' filename='libgazebo_barometer_plugin.so'>
      <robotNamespace/>
      <pubRate>50</pubRate>
      <baroTopic>/baro</baroTopic>
    </plugin>
    <plugin name='mavlink_interface' filename='libgazebo_mavlink_interface.so'>
      <robotNamespace></robotNamespace>
      <imuSubTopic>/imu</imuSubTopic>
      <magSubTopic>/mag</magSubTopic>
      <baroSubTopic>/baro</baroSubTopic>
      <mavlink_addr>INADDR_ANY</mavlink_addr>
      <mavlink_tcp_port>{{ mavlink_tcp_port }}</mavlink_tcp_port>
      <mavlink_udp_port>{{ mavlink_udp_port }}</mavlink_udp_port>
      <serialEnabled>{{ serial_enabled }}</serialEnabled>
      <serialDevice>{{ serial_device }}</serialDevice>
      <baudRate>{{ serial_baudrate }}</baudRate>
      <qgc_addr>INADDR_ANY</qgc_addr>
      <qgc_udp_port>14550</qgc_udp_port>
      <sdk_addr>INADDR_ANY</sdk_addr>
      <sdk_udp_port>14540</sdk_udp_port>
      <hil_mode>{{ hil_mode }}</hil_mode>
      <hil_state_level>false</hil_state_level>
      <enable_lockstep>false</enable_lockstep>
      <use_tcp>true</use_tcp>
      <motorSpeedCommandPubTopic>/gazebo/command/motor_speed</motorSpeedCommandPubTopic>
      <control_channels>
        <channel name="rudder">
          <input_index>2</input_index>
          <input_offset>0</input_offset>
          <input_scaling>1</input_scaling>
          <zero_position_disarmed>0</zero_position_disarmed>
          <zero_position_armed>0</zero_position_armed>
          <joint_control_type>position_kinematic</joint_control_type>
          <joint_name>rudder_joint</joint_name>
        </channel>
        <channel name="rotor4">
          <input_index>4</input_index>
          <input_offset>0</input_offset>
          <input_scaling>3500</input_scaling>
          <zero_position_disarmed>0</zero_position_disarmed>
          <zero_position_armed>0</zero_position_armed>
          <joint_control_type>velocity</joint_control_type>
          <joint_name>rotor_puller_joint</joint_name>
        </channel>
        <channel name="left_elevon">
          <input_index>5</input_index>
          <input_offset>0</input_offset>
          <input_scaling>1</input_scaling>
          <zero_position_disarmed>0</zero_position_disarmed>
          <zero_position_armed>0</zero_position_armed>
          <joint_control_type>position_kinematic</joint_control_type>
          <joint_name>left_elevon_joint</joint_name>
        </channel>
        <channel name="right_elevon">
          <input_index>6</input_index>
          <input_offset>0</input_offset>
          <input_scaling>1</input_scaling>
          <zero_position_disarmed>0</zero_position_disarmed>
          <zero_position_armed>0</zero_position_armed>
          <joint_control_type>position_kinematic</joint_control_type>
          <joint_name>right_elevon_joint</joint_name>
        </channel>
        <channel name="elevator">
          <input_index>7</input_index>
          <input_offset>0</input_offset>
          <input_scaling>1</input_scaling>
          <zero_position_disarmed>0</zero_position_disarmed>
          <zero_position_armed>0</zero_position_armed>
          <joint_control_type>position_kinematic</joint_control_type>
          <joint_name>elevator_joint</joint_name>
        </channel>
      </control_channels>
    </plugin>
    <static>0</static>
    <plugin name='gazebo_imu_plugin' filename='libgazebo_imu_plugin.so'>
      <robotNamespace></robotNamespace>
      <linkName>easyglider/imu_link</linkName>
      <imuTopic>/imu</imuTopic>
    </plugin>
  </model>
</sdf>
