<?xml version="1.0"?>
<model>
  <name>EasyGlider</name>
  <version>1.0</version>
  <sdf version='1.5'>easyglider.sdf</sdf>

  <author>
   <name>Luís Abrantes</name>
  </author>

  <description>
    This is a model of the easyglider fixed wing, which uses the advanced liftdrag plugin.
  </description>
</model>
